.edit {
   color: #5e6c84;
   margin-bottom: 8px;

   .button-att {
      cursor: pointer;
   }
   // .edit-btn {
   //    color: #5e6c84;
   //    margin-bottom: 8px;
   //    font-size: 14px;
   //    font-weight: 400;
   //    line-height: 20p
   // }

}