.board-section-list-item {
   margin: 0 2% 2% 0;
   padding: 0;
   transform: translate(0);
   width: 100%;
   cursor: pointer;

   .board-tile {
      background-color: $brand-clr11;
      color: $font-clr1;
      line-height: 20px;
      padding: 8px;
      position: relative;
      text-decoration: none;
      border-radius: 3px;
      display: block;
      background-position: 50% !important;
      background-size: cover !important;
   }

   .board-tile-details {
      display: flex;
      flex-direction: column;
      height: 110px;
      justify-content: space-between;
      position: relative;

      .board-tile-details-name {
         word-wrap: break-word;
         display: inline-block;
         flex: 0 0 auto;
         font-size: rem(16px);
         font-weight: 700;
         max-height: 40px;
         overflow: hidden;
         width: 100%;
      }
   }
}

.board-tile:hover .board-tile-fade {
   background-color: #00000050;
}

.board-tile-fade {
   background-color: #00000040;
   bottom: 0;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   border-radius: 3px;
   display: block;
}

.board-tile-details-sub-container {

   .boardlist-icon {
      position: absolute;
      right: 4px;
      bottom: 1px;

      .star-icon {
         height: 16px;
         width: 16px;
      }

      &.fill {

         .star-icon {
            color: gold;
         }

         &:hover .star-icon {
            color: #ffff
         }
      }

      &.outline {
         &:hover .star-icon {
            color: gold;
         }

         .star-icon {
            color: #ffff;
         }
      }

   }
}

//    .board-tile-options {
//       align-items: center;
//       display: flex;
//       flex: 0 0 auto;
//       margin-left: 4px;
//       overflow: hidden;
//       position: relative;
//       right: 8px;
//       top: -1px;

//       .board-tile-options-star-icon {
//          bottom: 0;
//          color: $font-clr1;
//          display: block;
//          font-size: rem(16px);
//          height: 18px;
//          line-height: 18px;
//          opacity: 0;
//          right: 0;
//          top: 0;
//          transition-duration: .15s;
//          transition-property: color, backgroundColor ,opacity,transform,width,margin;
//          width: 0;
//       }

//       .board-tile-options-starred-icon {
//          bottom: 0;
//          display: block;
//          font-size: rem(16px);
//          height: 18px;
//          line-height: 18px;
//          opacity: 1;
//          right: 0;
//          top: 0;

//          .boardlist-icon{
//             color: $brand-clr10;    
//             svg {
//                 height: 14px;
//                 width: 14px;
//             }
//          }

//          :hover {
//             color: $font-clr1;
//          }

//       }
//    }

// }

// .board-tile:hover .board-tile-options-star-icon {
//    margin-right: 13px;
//    opacity: 1;


//    .boardlist-icon{
//       color: #fff;    
//       svg {
//           height: 14px;
//           width: 14px;
//       }
//    }
// }

// .board-list .starred-container .star-icon {
//    color: $font-clr1;
//    font-size: 1.3rem;
//    height: 17px;
//    opacity: 0;
//    opacity: 1;
//    width: 17px;
// }