.dashboard-chart {
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .title {
      text-transform: capitalize;
      font-size: 1.25rem;
      font-weight: 600;
      color: $brand-clr4
    }

    .chart-options {
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.212);

      button {
        color: $brand-clr4;
        background: none;
        border: none;
        padding: .8rem;
        background-color: white;

        &:hover {
          background-color: darken(white, 4%);
        }

        &:disabled {
          cursor: auto;
          background-color: rgb(66, 82, 110);
          color: white;
        }
      }

      .label {
        border-right: 1px solid #091e4221;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .member {
        border-left: 1px solid #091e4221;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

  }


  .graph-container {
    width: 100%;
    height: 100%;
  }

}