.task-details-desc {
   clear: both;
   margin-bottom: 24px;
   position: relative;

   .desc-title-container {
      @include task-category()
   }

   .desc-body-container {
      margin-bottom: 0;
      padding-bottom: 0;
      margin: 0 0 8px;
      color: #172b4d;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      a {
         background-color: #091e420a;
         border: none;
         border-radius: 3px;
         box-shadow: none;
         display: block;
         min-height: 56px;
         padding: 8px 12px;
         text-decoration: none;
         color: #172b4d;
         cursor: pointer;
         font-size: 14px;
         font-weight: 400;
         line-height: 20px;
         margin-left: 40px;

         &:hover {
            background-color: #091e4214;
            border: none;
            box-shadow: none;
            color: #091e42;
         }
      }

      textarea {
         @include task-textarea();
      }

      .btn-container {
         clear: both;
         display: flex;
         flex-direction: row;
         margin-top: 8px;
         margin-left: 40px;

         input {
            @include task-save();
            border-radius: 3px;
            margin: 0 4px 0 0;
            float: left;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;

            &:first-child {
               background-color: #0079bf;
               color: #fff;

               &:hover {
                  background-color: #026aa7;
                  border: none;
                  box-shadow: none;
                  color: #fff;
               }
            }

            &:last-child {
               color: #172b4d;

               &:hover {
                  background-color: #091e4214;
               }
            }
         }

      }
   }

}