@font-face {
  font-family: secular-one-regular;
  src: url(../../fonts/SecularOne/SecularOne-Regular.ttf);
}

@font-face {
  font-family: source-sans-pro-regular;
  src: url(../../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: source-sans-pro-semibold;
  src: url(../../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
}