$bg-clr: rgba(250, 251, 252, 255);

$font-clr1: #ffffff;
$font-clr2: #4d4d4d;
$font-clr3: #505f79;
$font-clr4: #5e6c84; // DYNAMIC MODAL INNER COMPONENT
$font-clr5: #b3bac5;

$clr1: #ced4da; // INPUT BORDER
$clr2: #495057; // INPUT FONT COLOR
$clr3: #5e6c84; // LOGIN-SIGNUP TITLE
$clr4: #fafbfc; // INPUT BG COLOR
$clr5: #dfe1e6; // INPUT BORDER 2
$clr6: #5aac44; // LOGIN BTN
$clr7: #0052cc; // SIGNUP BTN
$clr8: #091e420a; // TASK DETAIL BUTTON
$clr9: #091e4214; // TASK DETAIL BUTTON - HOVER
$clr10: #42526e; // TASK CLOSE BTN
$clr11: #b04632; // DANGER
$clr12: #091e4221;
$clr13: #eb5a46; // ERROR

$brand-clr1: #026aa7; // MAIN BRAND
$brand-clr2: #0079bf; // ACTIVE FONT
$brand-clr3: #e4f0f6; // ACTIVE BACKGROUND
$brand-clr4: #172b4d; // BUTTON / TASKS DETAILS FONT
$brand-clr5: #0065ff; // BUTTON 2
$brand-clr6: #0d1e42; // FONT
$brand-clr7: #80b2ff; // INPUT OUTLINE
$brand-clr8: #ebecf0; // GROUP BACKGROUND
$brand-clr9: #f4f5f7; // GROUP HEADER BUTTON BACKGROUND
$brand-clr10: #ffd229; // STAR
$brand-clr11: #97a0af; // BOARD-TILE
$brand-clr12: rgb(23, 43, 77);
$brand-clr13: #4c9aff; // INPUT BORDER
$brand-clr14: rgb(66, 82, 110);

// LAYOUT BREAKPOINTS
$break-mobile: 770px;
$break-narrow: 770px;
$break-normal: 990px;
$break-wide: 1200px;
